<StackLayout #container>
    <Image src="res://ORCA-logo" stretch="none" horizontalAlignment="center"></Image>
  
    <TextField #email hint="Email Address" keyboardType="email" 
      autocorrect="false" autocapitalizationType="none"></TextField>
    <TextField #password hint="Password" secure="true" ></TextField>
  
    <Button [text]="isLoggingIn ? 'Sign in' : 'Sign up'" class="submit-button" (tap)="submit()"></Button>
    <Button [text]="isLoggingIn ? 'Sign up' : 'Back to login'" (tap)="toggleDisplay()"></Button>
</StackLayout>